

<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>

    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
        <label for="name">Full Name</label>
        <input type="text" class="form-control input-text-custom" name="name" id="name" [(ngModel)]="user.name" #name="ngModel" required />
        <div *ngIf="f.submitted && !name.valid" class="help-block">The full Name is required.</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
        <label for="username">Username</label>
        <input type="text" class="form-control input-text-custom" name="username" id="username" [(ngModel)]="user.username" #username="ngModel" required />
        <div *ngIf="f.submitted && !username.valid" class="help-block">

          <div *ngIf="username.errors.required">
            Username is required.
          </div>

        </div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <label for="password">Password</label>
        <input type="password" class="form-control input-text-custom" name="password" id="password"[(ngModel)]="user.password" #password="ngModel" required minlength="4" />
        <div *ngIf="f.submitted && !password.valid" class="help-block">

          <div *ngIf="password.errors.required">
            password is required.
          </div>
          <div *ngIf="password.errors.minlength">
            password must be at least 4 characters long.
          </div>

        </div>
      </div>
      <button class="btn form-submit-button" type="submit">Create Account</button>
      <a [routerLink]="['/login']" class="btn btn-link">I have an account!</a>

    </form><!-- /form -->

  </div><!-- /card-container -->
</div><!-- /container -->
